.checkoutButton {
  border: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem;
  align-self: flex-end;
  background: white;
  color: hsla(10, 88%, 70%, 0.706);
  transition: opacity 0.3s, border 0.3s;
  box-shadow: 0 0 8px 4px rgba(196, 143, 143, 0.3);

  &:hover {
    color: #6cddec;
  }
}
.checkoutButtonLink {
  text-decoration: none;
}
