.headerNav {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.11), 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.5em;
  margin-bottom: 2rem;
  a {
    text-decoration: none;
    color: #2fcfe4;
    transition: all 0.2s ease 0s;
    font-size: 2rem;
    font-weight: 700;
    img {
      padding-left: 4rem;
    }
  }
  a:hover {
    color: #0c525b;
  }
  .headerLinkBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2em;
    padding-right: 4em;
    div {
      list-style-type: none;
      padding: 4rem;
      margin-right: 1.25rem;
    }
  }
}
.headerCartLink {
  position: relative;
}
.circle {
  position: absolute;
  left: 8em;
  bottom: 4em;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 3px solid #f6856e;
  padding: 8px !important;
  line-height: 16px;
  font-size: 16px;
  color: #000;
  text-align: center;
}
