.headerNav {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease 0s;
    font-size: 1.5rem;
    font-weight: 500;
    img {
      padding-left: 4rem;
    }
  }
  a:hover {
    color: rgb(81, 81, 81);
  }
  .headerLinkBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 4rem;
    div {
      list-style-type: none;
      padding: 4rem;
      margin-right: 1.25rem;
    }
  }
}
