.buttonsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  user-select: none;
  outline: none;
  background-color: lavenderblush;

  &:focus {
    background: red;
  }
}
.quantityWrap {
  margin-top: 2rem;
}
.quantityModifier {
  padding: 0.7rem;
  width: 3rem;
  font-size: 1.5rem;

  color: #6cddec;
  background: hsla(10, 88%, 70%, 0.706);
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, 0.6);

  cursor: pointer;

  &:hover {
    color: rgba(246, 133, 110, 10);
    background: rgba(108, 221, 236, 20);
  }

  &.left {
    border-radius: 3px 0 0 3px;
  }

  &.right {
    border-radius: 0 3px 3px 0;
  }
}

.quantityInput {
  width: 4rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  color: hsla(10, 88%, 70%, 0.706);
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}
.cartButton {
  border: none;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  align-self: flex-end;
  background: transparent;
  color: hsla(10, 88%, 70%, 0.706);
  transition: opacity 0.3s, border 0.3s;
  &:hover {
    color: #6cddec;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}
