.buttonsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  user-select: none;
  outline: none;
  background-color: #f6856e;
  padding-top: 5%;
}
.quantityModifier {
  padding: 0.75rem;
  width: 3rem;
  font-size: 1.5rem;

  color: #000;
  background: #f6856e;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, 0.6);

  cursor: pointer;

  &:hover {
    background: rgba(108, 221, 236, 20);
  }

  &.left {
    border-radius: 3px 0 0 3px;
  }

  &.right {
    border-radius: 0 3px 3px 0;
  }
}

.quantityInput {
  width: 4rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  color: #f6856e;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}
.cartButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #cfc9e1;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  font-size: 1.25em;
  padding: 1.75rem;
  text-align: center;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #6cddec;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}
